<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-lang="register-title">TASMAN - Register</title>
    <link rel="icon" href="{{ url_for('static', filename='newfavicon.png') }}" type="image/png">     
    <link rel="stylesheet" href="{{ url_for('static', filename='style_register.css') }}">   
    <script>
    window.onload = function () {
        var today = new Date();
        var dateStr = today.toLocaleDateString('en-US');
        document.getElementById("current-date").innerHTML = dateStr;
    };
    </script>
</head>
<body>

    <header>
        <img src="{{ url_for('static', filename='header_logo.png') }}" alt="Logo" class="logo">
        <p class="date" id="current-date"></p>
    </header>

    <main>
        <div class="container">
            <div class="centered-container">
                <h1 data-lang="register-title">Register</h1>
                <br>
                <h2 data-lang="register-header">Register new account to start using TASMAN Task Manager</h2>
                <br>
                <br>
                <form method="post" action="{{ url_for('register') }}">
                    <label for="username" data-lang="username-no-spaces">Username (cannot contain spaces):</label>
                    <input type="text" id="username" name="username" placeholder="new_tasman_user" required pattern="^\S+$">
                    <span id="username-check"></span><br><br>
                    <label for="password" data-lang="password-min">Password (8 characters minimum):</label>
                    <input type="password" id="password" name="password" minlength="8" placeholder="new_user_password" required>
                    <label for="confirm_password" data-lang="confirm-password-label">Confirm password:</label>
                    <input type="password" id="confirm_password" name="confirm_password" minlength="8" placeholder="confirm_password" required>
                    <button type="submit" id="register" data-lang="sign-in">SIGN IN</button>
                    <a href="{{url_for('login')}}" data-lang="already-have-account">Already have an account? Login!</a><br>
                </form>
            </div>
        </div>
    </main>
    <footer>
    <p>2025 © <span_footer data-lang="all-rights-reserved">All rights reserved.</span_footer></p>
    </footer>
        <script src="{{ url_for('static', filename='js/language_auth.js') }}"></script>
        <script src="{{ url_for('static', filename='js/auth.js') }}"></script>
</body>
</html>
